<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     th:fragment="navbar(current)">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/pizza.png}" alt="logo" class="my-logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pizze}"
                       th:classAppend="${current == 'pizze'} ? active : not-active">Pizze</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tipo}"
                       th:classAppend="${current == 'tipo'} ? active : not-active">Tipo</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Cerca" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Cerca</button>
            </form>
            <div class="ms-3 d-flex align-items-end">
                <h5 sec:authentication="name" style="color: white; margin-right: 10px;"></h5>
                <a class="btn btn-light" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>

</nav>


</body>
</html>