<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/fragment :: resources}"></th:block>
    <title>Nuova pizza</title>
</head>

<body>

<th:block th:replace="~{/fragments/navbar :: navbar('pizze')}"></th:block>

<div class="container px-4">
    <h1>Nuova pizza</h1>
    <form id="pizza-form" method="post" th:object="${pizza}" th:action="@{/pizze/create}" class="row">
        <!-- Nome -->
        <div class="col-7">
            <label class="form-label" for="nome">Nome*</label>
            <input type="text" id="nome" class="form-control" th:field="*{nome}">
        </div>
        <!-- Descrizione -->
        <div class="col-7">
            <label class="form-label" for="descrizione">Descrizione*</label>
            <textarea id="descrizione" class="form-control" th:field="*{descrizione}" rows="5"></textarea>
        </div>
        <!-- Prezzo -->
        <div class="col-7">
            <label class="form-label" for="prezzo">Prezzo*</label>
            <input type="number" id="prezzo" class="form-control" th:field="*{prezzo}">
        </div>

        <div class="col-12 pt-3">
            <button type="submit" class="btn btn-success">Salva</button>
            <a class="btn btn-primary" th:href="@{/pizze}">Indietro</a>
        </div>

    </form>
</div>


</body>
</html>