<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/fragment :: resources}"></th:block>
    <title>Pizze</title>
</head>

<body>

<th:block th:replace="~{/fragments/navbar :: navbar('pizze')}"></th:block>

<div class="container px-4">
    <h1 class="text-center py-5">Le nostre pizze</h1>
    <a th:href="@{/pizze/create}" class="btn btn-primary mb-5">Crea nuova pizza</a>

    <div class="row gx-5">
        <div class="col" th:each="pizza : ${list}">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">[[${pizza.nome}]]</h4>
                        <p class="card-text">[[${pizza.descrizione}]]</p>
                        <p class="card-text">Prezzo: [[${pizza.prezzo}]] €</p>
                        <a th:href="@{'pizze/'+${pizza.id}}" class="btn btn-primary" title="Dettagli">
                            <i class="fa-solid fa-pizza-slice"></i>
                        </a>
                        <a th:href="@{'pizze/edit/{id}'(id=${pizza.id})}" class="btn btn-primary" title="Modifica">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a th:href="@{'pizze/delete/{id}'(id=${pizza.id})}" class="btn btn-danger" title="Elimina">
                            <i class="fa-solid fa-trash"></i>
                        </a>

                    </div>
                </div>
        </div>

        <h2 th:if="${list.size() == 0}">Non ci sono pizze presenti!</h2>

    </div>
</div>


</body>
</html>