<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:replace="~{/fragments/fragment :: resources}"  class="pt-5"></th:block>
    <title>Pizza dettagli</title>
</head>

<body>

<th:block th:replace="~{/fragments/navbar :: navbar('pizze')}"></th:block>

<div class="container px-4">
    <th:block th:if="${message}">
        <div th:replace="~{/fragments/messages :: alert(${message.type}, ${message.text})}"></div>
    </th:block>
    <h1 class="pt-5" th:text="${pizza.nome}"></h1>
    <p th:text="${pizza.descrizione}"></p>
    <p th:text="${pizza.prezzo}">

    <div th:block th:if="${pizza.ingredienti.size > 0}">
        <h2>Ingredienti</h2>
    <ul>
        <li th:each="ingrediente : ${pizza.ingredienti}" th:text="|${ingrediente.name} |"></li>
    </ul>
    </div>

    <h3>
        <span>Offerte</span>
        <a th:href="@{/offerte/create(pizzaId=${pizza.id})}" class="btn btn-primary rounded-circle"
           title="Crea nuova offerta speciale" sec:authorize="hasAuthority('ADMIN')">
            <i class="fa-solid fa-plus"></i>
        </a>
    </h3>

    <div class="pt-2">

        <ul th:each="offerta : ${pizza.offerteList}">
            <li>Dal [[${#temporals.format(offerta.startOfferDate, 'dd/MM/yyyy')}]]
                fino al
                [[${#temporals.format(offerta.endOfferDate, 'dd/MM/yyyy')}]]
                è attiva [[${offerta.name}]].
            </li>
            <a th:href="@{'/offerte/edit/{id}'(id=${offerta.id})}" class="btn btn-primary btn-sm"
               title="Modifica offerta" sec:authorize="hasAuthority('ADMIN')">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>

            <a th:href="@{'/offerte/delete/{id}'(id=${offerta.id})}" class="btn btn-danger btn-sm"
               title="Elimina offerta" sec:authorize="hasAuthority('ADMIN')">
                <i class="fa-solid fa-trash"></i>
            </a>
        </ul>

    </div>

</div>


</body>
</html>